:root {
  /* Grid settings */
  --grid-columns: 12;
  --grid-gutter: 30px;

  /* Color scheme */


  /* Fonts scheme */
  --font-heading: 'Ubuntu', sans-serif;
  --font-text: 'Josefin Sans', 'Arial', sans-serif;
}
/* Grid @media-queries template */
@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}

/* Fonts */
@font-face {
  font-family: 'Ubuntu';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Ubuntu/Ubuntu-Light.woff2') format('woff2'),
    url('/fonts/Ubuntu/Ubuntu-Light.woff') format('woff');
}
/* @font-face {
  font-family: 'Ubuntu';
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/Ubuntu/Ubuntu-LightItalic.woff2') format('woff2'),
    url('/fonts/Ubuntu/Ubuntu-LightItalic.woff') format('woff');
} */
@font-face {
  font-family: 'Ubuntu';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
    url('/fonts/Ubuntu/Ubuntu-Regular.woff') format('woff');
}
/* @font-face {
  font-family: 'Ubuntu';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Ubuntu/Ubuntu-Italic.woff2') format('woff2'),
    url('/fonts/Ubuntu/Ubuntu-Italic.woff') format('woff');
} */
@font-face {
  font-family: 'Ubuntu';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Ubuntu/Ubuntu-Medium.woff2') format('woff2'),
    url('/fonts/Ubuntu/Ubuntu-Medium.woff') format('woff');
}
/* @font-face {
  font-family: 'Ubuntu';
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/Ubuntu/Ubuntu-MediumItalic.woff2') format('woff2'),
    url('/fonts/Ubuntu/Ubuntu-MediumItalic.woff') format('woff');
} */
@font-face {
  font-family: 'Ubuntu';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2'),
    url('/fonts/Ubuntu/Ubuntu-Bold.woff') format('woff');
}
/* @font-face {
  font-family: 'Ubuntu';
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/Ubuntu/Ubuntu-BoldItalic.woff2') format('woff2'),
    url('/fonts/Ubuntu/Ubuntu-BoldItalic.woff') format('woff');
} */

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('/fonts/Montserrat/Montserrat-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
    url('/fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff');
}

/* end of Fonts */

/* Modern Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-width: 320px;
  min-height: 100vh;
	margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  /* display: block; */
}
/* article > * + * {
  margin-top: 1em;
} */
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end of Modern Reset CSS */

html,
body {
	font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-heading);
}
#sapper {
  min-height: 100vh;
  width: 100%;
}

/* ZDP Grid Styles */
.container,
.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 calc(var(--grid-gutter) / 2);
}
.row {
  width: calc(100% + var(--grid-gutter));
  margin: 0 calc(var(--grid-gutter) / -2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.col {
  min-width: calc(100% / var(--grid-columns));
  flex-grow: 1;
}
.col,
[class*="col-"] {
  padding: 0 calc(var(--grid-gutter) / 2);
  max-width: 100%;
}
.col {
  width: auto;
}
.col-1 {
  width: calc(100% / var(--grid-columns));
}
.col-2 {
  width: calc(100% / var(--grid-columns) * 2);
}
.col-3 {
  width: calc(100% / var(--grid-columns) * 3);
}
.col-4 {
  width: calc(100% / var(--grid-columns) * 4);
}
.col-5 {
  width: calc(100% / var(--grid-columns) * 5);
}
.col-6 {
  width: calc(100% / var(--grid-columns) * 6);
}
.col-7 {
  width: calc(100% / var(--grid-columns) * 7);
}
.col-8 {
  width: calc(100% / var(--grid-columns) * 8);
}
.col-9 {
  width: calc(100% / var(--grid-columns) * 9);
}
.col-10 {
  width: calc(100% / var(--grid-columns) * 10);
}
.col-11 {
  width: calc(100% / var(--grid-columns) * 11);
}
.col-12 {
  width: calc(100% / var(--grid-columns) * 12);
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  [class*="col-sm-"]{
    flex-grow: 0;
  }
  .col-sm {
    min-width: calc(100% / var(--grid-columns));
    flex-grow: 1;
  }
  .col-sm-1 {
    width: calc(100% / var(--grid-columns));
  }
  .col-sm-2 {
    width: calc(100% / var(--grid-columns) * 2);
  }
  .col-sm-3 {
    width: calc(100% / var(--grid-columns) * 3);
  }
  .col-sm-4 {
    width: calc(100% / var(--grid-columns) * 4);
  }
  .col-sm-5 {
    width: calc(100% / var(--grid-columns) * 5);
  }
  .col-sm-6 {
    width: calc(100% / var(--grid-columns) * 6);
  }
  .col-sm-7 {
    width: calc(100% / var(--grid-columns) * 7);
  }
  .col-sm-8 {
    width: calc(100% / var(--grid-columns) * 8);
  }
  .col-sm-9 {
    width: calc(100% / var(--grid-columns) * 9);
  }
  .col-sm-10 {
    width: calc(100% / var(--grid-columns) * 10);
  }
  .col-sm-11 {
    width: calc(100% / var(--grid-columns) * 11);
  }
  .col-sm-12 {
    width: calc(100% / var(--grid-columns) * 12);
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 708px;
  }
  [class*="col-md-"]{
    flex-grow: 0;
  }
  .col-md {
    min-width: calc(100% / var(--grid-columns));
    flex-grow: 1;
  }
  .col-md-1 {
    width: calc(100% / var(--grid-columns));
  }
  .col-md-2 {
    width: calc(100% / var(--grid-columns) * 2);
  }
  .col-md-3 {
    width: calc(100% / var(--grid-columns) * 3);
  }
  .col-md-4 {
    width: calc(100% / var(--grid-columns) * 4);
  }
  .col-md-5 {
    width: calc(100% / var(--grid-columns) * 5);
  }
  .col-md-6 {
    width: calc(100% / var(--grid-columns) * 6);
  }
  .col-md-7 {
    width: calc(100% / var(--grid-columns) * 7);
  }
  .col-md-8 {
    width: calc(100% / var(--grid-columns) * 8);
  }
  .col-md-9 {
    width: calc(100% / var(--grid-columns) * 9);
  }
  .col-md-10 {
    width: calc(100% / var(--grid-columns) * 10);
  }
  .col-md-11 {
    width: calc(100% / var(--grid-columns) * 11);
  }
  .col-md-12 {
    width: calc(100% / var(--grid-columns) * 12);
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  [class*="col-lg-"]{
    flex-grow: 0;
  }
  .col-lg {
    min-width: calc(100% / var(--grid-columns));
    flex-grow: 1;
  }
  .col-lg-1 {
    width: calc(100% / var(--grid-columns));
  }
  .col-lg-2 {
    width: calc(100% / var(--grid-columns) * 2);
  }
  .col-lg-3 {
    width: calc(100% / var(--grid-columns) * 3);
  }
  .col-lg-4 {
    width: calc(100% / var(--grid-columns) * 4);
  }
  .col-lg-5 {
    width: calc(100% / var(--grid-columns) * 5);
  }
  .col-lg-6 {
    width: calc(100% / var(--grid-columns) * 6);
  }
  .col-lg-7 {
    width: calc(100% / var(--grid-columns) * 7);
  }
  .col-lg-8 {
    width: calc(100% / var(--grid-columns) * 8);
  }
  .col-lg-9 {
    width: calc(100% / var(--grid-columns) * 9);
  }
  .col-lg-10 {
    width: calc(100% / var(--grid-columns) * 10);
  }
  .col-lg-11 {
    width: calc(100% / var(--grid-columns) * 11);
  }
  .col-lg-12 {
    width: calc(100% / var(--grid-columns) * 12);
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
  [class*="col-xl-"]{
    flex-grow: 0;
  }
  .col-xl {
    min-width: calc(100% / var(--grid-columns));
    flex-grow: 1;
  }
  .col-xl-1 {
    width: calc(100% / var(--grid-columns));
  }
  .col-xl-2 {
    width: calc(100% / var(--grid-columns) * 2);
  }
  .col-xl-3 {
    width: calc(100% / var(--grid-columns) * 3);
  }
  .col-xl-4 {
    width: calc(100% / var(--grid-columns) * 4);
  }
  .col-xl-5 {
    width: calc(100% / var(--grid-columns) * 5);
  }
  .col-xl-6 {
    width: calc(100% / var(--grid-columns) * 6);
  }
  .col-xl-7 {
    width: calc(100% / var(--grid-columns) * 7);
  }
  .col-xl-8 {
    width: calc(100% / var(--grid-columns) * 8);
  }
  .col-xl-9 {
    width: calc(100% / var(--grid-columns) * 9);
  }
  .col-xl-10 {
    width: calc(100% / var(--grid-columns) * 10);
  }
  .col-xl-11 {
    width: calc(100% / var(--grid-columns) * 11);
  }
  .col-xl-12 {
    width: calc(100% / var(--grid-columns) * 12);
  }
}

/* end of ZDP Grid Styles */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

#svelte {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}
